<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  {% include meta.html %}
</head>

<body>
  <div class="wrapper-container">

    <header>
      <div class="container">
        <h1>
          <a href="/">{{ site.name }}</a> 
          [![Build Status](https://travis-ci.org/stdtabs/phptabs.svg?branch=master)](https://travis-ci.org/stdtabs/phptabs)
          [![License](https://poser.pugx.org/stdtabs/phptabs/license.svg)](https://packagist.org/packages/stdtabs/phptabs)
        </h1>
        <h2>{{ site.description }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github_zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github_tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github_repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">

    {{ content }}

    </div>

    {% include footer.html %}

  </div>
</body>

</html>
